@font-face{
    font-family: title;
  /*src: url(../fonts/_adult_swim_font__by_esteveztheart-dbj9by8.ttf); regular title*/
    /*src: url(../fonts/Calligraphr-Regular.ttf); credit text*/
  src: url(../fonts/get_schwifty__a_rick_and_morty_font_by_jonizaak-dajw4u8.ttf); 
    /*src: url(../fonts/rick_and_morty_by_shittychan-d9h2vl6.ttf); credit text*/
}
@font-face{
    font-family: subtitle1;
  src: url(../fonts/_adult_swim_font__by_esteveztheart-dbj9by8.ttf);
    /*src: url(../fonts/Calligraphr-Regular.ttf); credit text*/
  /*src: url(../fonts/get_schwifty__a_rick_and_morty_font_by_jonizaak-dajw4u8.ttf);/*
    /*src: url(../fonts/rick_and_morty_by_shittychan-d9h2vl6.ttf); credit text*/
}

@font-face{
    font-family: subtitle2;
  /*src: url(../fonts/_adult_swim_font__by_esteveztheart-dbj9by8.ttf);*/
    src: url(../fonts/Calligraphr-Regular.ttf);
  /*src: url(../fonts/get_schwifty__a_rick_and_morty_font_by_jonizaak-dajw4u8.ttf);/*
    /*src: url(../fonts/rick_and_morty_by_shittychan-d9h2vl6.ttf); credit text*/
}
@font-face{
    font-family: subtitle3;
  /*src: url(../fonts/_adult_swim_font__by_esteveztheart-dbj9by8.ttf);*/
    /*src: url(../fonts/Calligraphr-Regular.ttf);*/
  /*src: url(../fonts/get_schwifty__a_rick_and_morty_font_by_jonizaak-dajw4u8.ttf);*/
    src: url(../fonts/rick_and_morty_by_shittychan-d9h2vl6.ttf); 
}
body{
    background: linear-gradient(0deg, rgba(0,0,0,.5), rgba(0,0,0,.5)),url(../images/garage-background.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
}
h1{
    font-family:'title', sans-serif;
    color: #00b0ca;
    -webkit-text-stroke: 1px black;

    text-shadow: 3px 6px 2px rgba(81, 164, 67, .3);
    font-size:4rem;
}
h3{
    margin-top: 0.625rem;
    margin-bottom: 0.625rem;
}
h4{
    margin-top: 1.875rem;
    margin-bottom: 1.875rem;
    font-family:'subtitle1', sans-serif;/*Readable*/
    /*font-family:'subtitle3', sans-serif;*/
}
#timer{
    margin-top:1.875rem;
    font-family:'subtitle3', sans-serif;/*FUn*/
    -webkit-text-stroke: 1px black;
    font-size: 2.75rem;
   /* margin-bottom:1.875rem;*/
}
#summaryMessageOutput{
    margin-top:1.875rem;
    font-family:'subtitle2', sans-serif;/*FUn*/
    font-size: 2.75rem;
   /* margin-bottom:1.875rem;*/
   color: white;
   -webkit-text-stroke: 1px black;
}
.summaryTitle{
    font-family:'subtitle1', sans-serif;/*FUn*/
    -webkit-text-stroke: 1px black;
    color: #00b0ca;
    /*font-size: 2.75rem;*/
}
#questionMessageOutput{
    margin-top:0.625rem;
    font-family:'subtitle1', sans-serif;
    -webkit-text-stroke: 1px black;
    /*margin-top:1.25rem;*/
}
#responseEvaluationOutput{
    margin-bottom:1.875rem;
    font-family:'subtitle2', sans-serif;
    -webkit-text-stroke: 1px black;
    color: #00b0ca;
}
#responseMessageOutput, #responseAnswerOutput{
    margin-top:0.625rem;
    margin-bottom:0.625rem;
    font-family:'subtitle1', sans-serif;
    -webkit-text-stroke: 1px black;
    color: white
}
/*#responseEvaluationOutput{
    margin-bottom: 0.625rem;
}*/
#responseImage{
    margin-top:1.875rem;
    /*height: 31.25rem;*/
    border: 5px solid #00b0ca;
}
.choices{
    width: 50%; /*width 50% of screen*/
    
    display:block;
    text-align: left;/*Left Align the text*/

    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 12%;
    padding-right: 12%;

    margin: 1% auto; /*Center the buttons*/
    color: white;
    background: #00b0ca;

    font-size: 1.5rem;
    border-radius: 0.3125rem;
    /*border:none;*/
    border-color: black;
}
#startButton, #startOverButton{
    /*width: 50%; /*width 50% of screen*/
    
    display:block;
    text-align: left;/*Left Align the text*/

    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 2%;
    padding-right: 2%;

    margin: 1% auto; /*Center the buttons*/
    color: white;
    background: #00b0ca;
    /*border-radius: 5%;*/

    font-size: 1.5rem;
}
.choicesWrapper{
    /*text-align: left;*/
    overflow: hidden;
    /*background: red;*/
}
#responseImage{
    /*width: 35%;*/
}
/*#wrapper{
 
}*/
